#logo{
	margin-bottom:15px;
}

#textarea{
	font-size:16px;
	background-color:#1f1633;
	color:#fff;
	border:1px solid #fff;
	padding:3px;
}

#inputText{
	padding:3px;
	font-size:16px;
	color:#1f1633;
}

.button{
	background-color:#1f1633;
	color:#fff;
	border:1px solid #0f0b1a;
}

#sendButton{
	padding:5px 30px;
	font-size:14px;
}

.button:disabled{
	background-color:#62577c;
	border:1px solid #42306e;
}

.button:hover{
	background-color:#241a3b;
	border:1px solid #1a132b;
}

.gridButton{
	padding:5px 10px;
}

Window{
	background-color:#4b367c;
}