#logo{
	margin:10px 20px 0 10px;
}

#textarea{
	font-size:16px;
	background-color:#1f1633;
	color:#fff;
	border:1px solid #fff;
	padding:3px;
}

#inputText{
	padding:3px;
	font-size:16px;
	color:#1f1633;
}

#sendButton{
	background-color:#1f1633;
	color:#fff;
	border:1px solid #0f0b1a;
	padding:5px 30px;
	font-size:13px;
}

#sendButton:hover{
	background-color:#241a3b;
	border:1px solid #1a132b;
	
}


Window{
	background-color:#4b367c;
}